{{ 'answer-gallery.css' | asset_url | stylesheet_tag }}
{% liquid
    assign metaObjectData = page.metafields.custom.answer_gallery.value
    assign bannerTitle = metaObjectData.banner_title
    assign playPartNo = metaObjectData.play_part_srno
    assign playPartTitle = metaObjectData.play_part_title
    assign question = metaObjectData.question
    assign questionAnswer = metaObjectData.question_and_answer.value
    assign buttonUrl = metaObjectData.button_url
%}

{% if bannerTitle != blank or playPartNo != blank or playPartTitle != blank or question != blank %}
    <section class="gallery-banner">
        {% if bannerTitle != blank or playPartNo != blank or playPartTitle != blank or question != blank %}
            <div class="page-width">
                {% if bannerTitle != blank or playPartNo != blank or playPartTitle != blank or question != blank %}
                    <div class="banner-content">
                        {% if bannerTitle != blank %}
                            <div class="banner-tag">{{ bannerTitle }}</div>
                        {% endif %}
                        {% if playPartNo != blank or playPartTitle != blank %}
                            <h2><span>{{ playPartNo }}</span> {{ playPartTitle }}</h2>
                        {% endif %}
                        {% if question != blank %}
                            <h4>{{ question }}</h4>
                        {% endif %} 
                    </div>
                {% endif %}    
            </div>
        {% endif %}       
    </section>
{% endif %}     
<section>
    <div class="page-width">
        <div class="answer-block">
            <div class="answer-grid">
                {% for page in questionAnswer %}
                    {% liquid
                        assign briefQuestionOne = page.brief_question_one
                        assign briefAnswerOne = page.brief_answer_one
                        assign briefQuestionTwo = page.brief_question_two
                        assign briefAnswerTwo = page.brief_answer_two
                        assign dateTime = page.date_and_time
                    %}
                    {% if briefQuestionOne != blank or briefAnswerOne != blank or briefQuestionTwo != blank or briefAnswerTwo != blank or briefQuestionTwo != blank %}
                        <div class="answer-box {% if forloop.index > 10 %} hidden {% endif %}">
                            {% if briefQuestionOne != blank or briefAnswerOne != blank %}
                                <div class="que_ans">
                                    {% if briefQuestionOne != blank %}
                                        <h4>{{ briefQuestionOne }}</h4>
                                    {% endif %}  
                                    {% if briefAnswerOne != blank %}  
                                        <p>{{ briefAnswerOne }}</p>
                                    {% endif %}      
                                </div> 
                            {% endif %}         
                            {% if briefQuestionTwo != blank or briefAnswerTwo != blank %}
                                <div class="que_ans">
                                    {% if briefQuestionTwo != blank %}
                                        <h4>{{ briefQuestionTwo }}</h4>
                                    {% endif %}    
                                    {% if briefAnswerTwo != blank %}  
                                        <p>{{ briefAnswerTwo }}</p>
                                    {% endif %}       
                                </div>
                            {% endif %}    
                            {% if briefQuestionTwo != blank %}    
                                <div class="ans-time">
                                    <span>{{ dateTime | date: "%d/%m/%Y - %H:%M" }}</span>
                                </div>
                            {% endif %}  
                        </div>
                    {% endif %}      
                {% endfor %}
            </div>
           
                
               
        </div>
    </div>
</section>
  

{% schema %}
{
  "name": "Answer gallery",
  "settings": [],
  "presets":[
        {
            "name": "Answer gallery"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}