{{ 'card-information-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;

    }
   @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;

      }
     }
{%- endstyle -%}

<div class="card_information_section color-{{ section.settings.background_schema }} gradient section-{{ section.id }}-padding">
  <div class="{% unless section.settings.full_width %} page-width {% endunless %} ">
    <div class="card_detail">
      <div class="card_benefits_info">
        <div class="card_sticky">
          <div class="child_card">
            {% if section.settings.heading_text != blank %}
              <h2>{{ section.settings.heading_text }}</h2>
            {% endif %}
          </div>
          <svg width="386" height="359" viewBox="0 0 386 359" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M385.236 158.542C390.558 273.37 285.18 359 183.717 359C82.2527 359 0 278.635 0 179.5C0 80.3649 82.2527 0 183.717 0C285.18 0 385.236 59.4067 385.236 158.542Z" fill="#FAD5AC"/>
          </svg>
        </div>
      </div>
      <div class="card_list">
        {% for block in section.blocks %}
          {% style %}
            .block-{{ block.id }}.card_identy{
              background:{{ section.settings.background_color }};
            }
          {% endstyle %}
          <div class="card_identy block-{{ block.id }}" {{ block.shopify_attributes }}>
            {% if block.settings.card_icon != blank %}
              <div class="card_image">
                <img
                  src="{{ block.settings.card_icon | img_url: 'master' }}"
                  alt="{{ block.settings.card_icon.alt }}"
                  width="{{ block.settings.card_icon.width }}"
                  height="{{ block.settings.card_icon.height }}"
                >
              </div>
            {% endif %}
            <div class="card_learn">
              {% if block.settings.card_name != blank %}
                <h4>{{ block.settings.card_name }}</h4>
              {% endif %}
              {% if block.settings.card_paragraph != blank %}
                <p>{{ block.settings.card_paragraph }}</p>
              {% endif %}
            </div>
          </div>
        {% endfor %}

        {% if section.settings.button_url != blank or section.settings.button_text != blank %}
          <div class="button_space">
            <a
              class="button button--secondary"
              href="{{ section.settings.button_url }}"
            >
              {{- section.settings.button_text -}}

              {% render 'icon-arrow' %}
            </a>
          </div>
        {% endif %}


      </div>
    </div>
    
  </div>
</div>

{% schema %}
{
  "name": "Card Information Section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Show content make a full width",
      "default": false
    },
    {
      "type": "textarea",
      "id": "heading_text",
      "label": "Heading text",
      "default": "Heading text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Button"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url"
    },
    {
      "type": "header",
      "content": "Section Background"
    },
    {
      "type": "color_scheme",
      "id": "background_schema",
      "default": "scheme_1",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "Card Background"
    },
    {
      "type": "color",
      "id": "background_color",
      "default": "#E9F0ED",
      "label": "Style 2 background"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 80
    }
  ],
  "blocks": [
    {
      "name": "text",
      "type": "text",
      "settings": [
        {
          "type": "image_picker",
          "id": "card_icon",
          "label": "Card icon"
        },
        {
          "type": "text",
          "id": "card_name",
          "default": "Card name",
          "label": "Card name"
        },
        {
          "type": "richtext",
          "id": "card_paragraph",
          "default": "<p>Card paragraph</p>",
          "label": "Card paragraph"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Card Information Section",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
