{{ 'community-slide.css' | asset_url | stylesheet_tag }}

 <!-- CSS -->
 <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
 <!-- JavaScript -->
 <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

 <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<style>
    .community-slider--{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
    
    @media screen and (min-width: 750px) {
        .community-slider--{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
        .carousel-cell {
            background: {{ section.settings.bg_color }};
        }
</style>

<section class="community-slider--{{ section.id }}-padding">
    <div class="community-slider_section">
        <div class="community-slider_wrapper {% unless section.settings.full_width %} page-width {% endunless %}">
                {%- if section.settings.section_title != blank -%}
                    <div class="community-slider-title">
                        <h2>{{ section.settings.section_title }}</h2>
                    </div>  
                {%- endif -%}
        </div>
        <div class="community-slider-cover">
            <div class="community-slider_wrapper {% unless section.settings.full_width %} page-width {% endunless %}">
                <div class="{% if section.settings.top_border %} border-top {% endif %} {% if section.settings.bottom_border %} border-bottom {% endif %}">
                    <div class="slider_wrapper_inner">
                        <div class="quotation_image_wrapper-left">   
                            <div class="quotation-svg">
                                {% render 'quotation-right' %}
                            </div> 
                        </div>
                        <div class="community-slider-main">
                            {%- for block in section.blocks -%}
                                <div class="carousel-cell">
                                    <div class="community-slider-block">
                                        <div class="community-slider_content">{{ block.settings.community_description }}</div>
                                    </div>
                                </div>
                            {%- endfor -%}  
                        </div>  
                        
                        <div class="quotation_image_wrapper-right">
                            <div class="quotation-svg">
                                {% render 'quotation-left' %}
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>

<script>
    var flkty = new Flickity( '.community-slider-main', {
        imagesLoaded: true,
        {% comment %} percentPosition: false, {% endcomment %}
        pageDots: false,
        wrapAround: false,
        prevNextButtons: true,
        contain: true,
      });      
</script>   

{% schema %}
{
    "name": "community slider",
    "class": "community-slider-section",
    "settings": [
        {
            "type": "checkbox",
            "id": "full_width",
            "label": "Make Section Full Width",
            "default": false
        },
        {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "Some words from our Community."
        },
        {
            "type": "checkbox",
            "id": "top_border",
            "label": "Top Border",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "bottom_border",
            "label": "Bottom border",
            "default": false
        },
        {
            "type": "header",
            "content": "section padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Padding top",
            "default": 36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Padding bottom",
            "default": 36
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "slider block bg Color",
            "default": "#FFD978"
        }
    ],
    "blocks": [
        {
            "type":"block",
            "name":"block",
            "settings": [
                {
                    "type": "richtext",
                    "id": "community_description",
                    "label": "Card Description"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "community slider",
            "blocks": [
                {
                    "type": "block"
                }
            ]
        }
    ]
}
{% endschema %}