{{ 'course-highlights-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
     padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
     padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
   }

   @media screen and (min-width: 750px) {
     .section-{{ section.id }}-padding {
       padding-top: {{ section.settings.padding_top }}px;
       padding-bottom: {{ section.settings.padding_bottom }}px;
     }
   }
{%- endstyle -%}

<div class="course_highlights_section section-{{ section.id }}-padding">
  <div class="{% unless section.settings.full_width %} page-width {% endunless %}">
    {% if section.settings.heading_text != blank %}
      <div class="quiz_heading {{ section.settings.text_alignment }}">
        <h2 class="{{ section.settings.heading_size }}">{{ section.settings.heading_text }}</h2>
      </div>
    {% endif %}
    <div class="track_info">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'track_quiz' -%}
            <div class="quiz_info color-{{ block.settings.background_schema }} gradient" {{ block.shopify_attributes }}>
              <div class="track_quiz_info track_activity{% if block.settings.layout == 'text_first' %} image-text--reverse{% endif %}">
                <div class="quiz_detail">
                  {% if block.settings.quiz_image != blank %}
                    <img
                      src="{{ block.settings.quiz_image | img_url: 'master' }}"
                      alt="{{ block.settings.quiz_image.alt }}"
                      width="{{ block.settings.quiz_image.width }}"
                      height="{{ block.settings.quiz_image.height }}"
                    >
                  {% endif %}
                </div>

                <div class="quiz_about">
                  {% if block.settings.sub_title != blank %}
                    <div class="quiz_tag">
                      {{ block.settings.sub_title }}
                    </div>
                  {% endif %}
                  <div class="quiz_rules">
                    {% if block.settings.heading_text != blank %}
                      <h2>{{ block.settings.heading_text }}</h2>
                    {% endif %}
                    {% if block.settings.paragraph != blank %}
                      <p class="p1">{{ block.settings.paragraph }}</p>
                    {% endif %}
                  </div>

                  {%- assign buttonText = block.settings.np_button_text -%}
                  {%- assign buttonUrl = settings.course_product.url -%}
                  {% if customer and customer.tags contains "Purchased Course" %}
                    {%- assign buttonText = block.settings.button_text -%}
                    {%- assign buttonUrl = block.settings.button_url -%}
                  {% endif %}

                  {% if buttonUrl != blank and buttonText != blank %}
                    <div class="quiz_button">
                      <a
                        class="button button--secondary"
                        href="{{ buttonUrl }}"
                      >
                        {{- buttonText -}}

                        {% render 'icon-arrow' %}
                      </a>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {%- when 'exercise_quiz' -%}
            {% style %}
              .block-{{ block.id }} .quiz_status{
                background:{{ block.settings.background_color }};
              }
            {% endstyle %}
            <div class="quiz_info color-{{ block.settings.background_schema_2 }} gradient block-{{ block.id }}" {{ block.shopify_attributes }}>
              <div class="track_quiz_info exercise_task {% if block.settings.layout_2 == 'text_first' %} image-text--reverse_card{% endif %}">
                <div class="quiz_about">
                  {% if block.settings.sub_heading != blank %}
                    <div class="quiz_tag">
                      {{ block.settings.sub_heading }}
                    </div>
                  {% endif %}
                  <div class="quiz_rules">
                    {% if block.settings.heading != blank %}
                      <h2>{{ block.settings.heading }}</h2>
                    {% endif %}
                    {% if block.settings.about_quiz != blank %}
                      <p class="p1">{{ block.settings.about_quiz }}</p>
                    {% endif %}
                  </div>
                  {%- assign buttonText = block.settings.np_button_text -%}
                  {%- assign buttonUrl = settings.course_product.url -%}
                  {% if customer and customer.tags contains "Purchased Course" %}
                    {%- assign buttonText = block.settings.button_name -%}
                    {%- assign buttonUrl = block.settings.button_link -%}
                  {% endif %}

                  {% if buttonUrl != blank or buttonText != blank %}
                    <div class="quiz_button">
                      <a
                        class="button button--secondary"
                        href="{{ buttonUrl }}"
                      >
                        {{- buttonText -}}

                        {% render 'icon-arrow' %}
                      </a>
                    </div>
                  {% endif %}
                </div>

                <div class="quiz_detail">
                  <div class="quiz_update_status">
                    <div class="quiz_status">
                      {% if block.settings.status_image != blank %}
                        <div class="status_info">
                          <img
                            src="{{ block.settings.status_image | img_url: 'master' }}"
                            alt="{{ block.settings.status_image.alt }}"
                            width="{{ block.settings.status_image.width }}"
                            height="{{ block.settings.status_image.height }}"
                          >
                        </div>
                      {% endif %}
                      <div class="icon_image_text">
                        {% if block.settings.rule_icon != blank %}
                          <img
                            src="{{ block.settings.rule_icon | img_url: 'master' }}"
                            alt="{{ block.settings.rule_icon.alt }}"
                            width="{{ block.settings.rule_icon.width }}"
                            height="{{ block.settings.rule_icon.height }}"
                          >
                        {% endif %}
                        {% if block.settings.update_text != blank %}
                          <p>{{ block.settings.update_text }}</p>
                        {% endif %}
                      </div>
                      {% if block.settings.task_url != blank or block.settings.task_button_name != blank %}
                        <div class="task_button">
                          <a
                            class="button button--secondary button-small"
                            href="{{ block.settings.task_url }}"
                          >
                            {{- block.settings.task_button_name -}}

                            {% render 'icon-arrow' %}
                          </a>
                        </div>
                      {% endif %}
                    </div>
                    <div class="quiz_status">
                      {% if block.settings.status_image_2 != blank %}
                        <div class="status_info">
                          <img
                            src="{{ block.settings.status_image_2 | img_url: 'master' }}"
                            alt="{{ block.settings.status_image_2.alt }}"
                            width="{{ block.settings.status_image_2.width }}"
                            height="{{ block.settings.status_image_2.height }}"
                          >
                        </div>
                      {% endif %}
                      <div class="icon_image_text">
                        {% if block.settings.rule_icon_2 != blank %}
                          <img
                            src="{{ block.settings.rule_icon_2 | img_url: 'master' }}"
                            alt="{{ block.settings.rule_icon_2.alt }}"
                            width="{{ block.settings.rule_icon_2.width }}"
                            height="{{ block.settings.rule_icon_2.height }}"
                          >
                        {% endif %}
                        {% if block.settings.update_text_2 != blank %}
                          <p>{{ block.settings.update_text_2 }}</p>
                        {% endif %}
                      </div>
                      {% if block.settings.task_url_2 != blank or block.settings.task_button_name_2 != blank %}
                        <div class="task_button">
                          <a
                            class="button button-small"
                            href="{{ block.settings.task_url_2 }}"
                          >
                            {{- block.settings.task_button_name_2 -}}

                            {% render 'icon-arrow' %}
                          </a>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Course Highlights Section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Show content make a full width",
      "default": false
    },
    {
      "type": "textarea",
      "id": "heading_text",
      "label": "Heading text",
      "default": "Heading Text"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h2",
      "label": "Heading size"
    },

    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 80
    }
  ],
  "blocks": [
    {
      "type": "track_quiz",
      "name": "Track Quiz",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "quiz_image",
          "label": "Quiz image"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub title",
          "default": "Sub Title"
        },
        {
          "type": "text",
          "id": "heading_text",
          "label": "Heading text",
          "default": "Heading Text"
        },
        {
          "type": "textarea",
          "id": "paragraph",
          "label": "Paragraph",
          "default": "Paragraph"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Button Name",
          "info": "If Course has been Purchased."
        },
        {
          "type": "text",
          "id": "np_button_text",
          "label": "Button text",
          "default": "Buy the Course",
          "info": "if Course hasn't been Purchased."
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button link",
          "info":"This Link will add when user will Purchase course."
        },
        {
          "type": "header",
          "content": "card Background"
        },
        {
          "type": "color_scheme",
          "id": "background_schema",
          "default": "scheme_2",
          "label": "Color scheme"
        },
        {
          "type": "select",
          "id": "layout",
          "options": [
            {
              "value": "image_first",
              "label": "Text Right"
            },
            {
              "value": "text_first",
              "label": "Text Left"
            }
          ],
          "default": "image_first",
          "label": "Layout position"
        }
      ]
    },
    {
      "type": "exercise_quiz",
      "name": "Exercise Quiz",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "sub_heading",
          "label": "Sub heading",
          "default": "Sub title"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "heading",
          "default": "Heading Text"
        },
        {
          "type": "textarea",
          "id": "about_quiz",
          "label": "Paragraph",
          "default": "Paragraph"
        },
        {
          "type": "text",
          "id": "button_name",
          "label": "Button text",
          "default": "Button Name",
          "info": "If Course has been Purchased."
        },
        {
          "type": "text",
          "id": "np_button_text",
          "label": "Button text",
          "default": "Buy the Course",
          "info": "if Course hasn't been Purchased."
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link",
          "info":"This Link will add when user will Purchase course."
        },
        {
          "type": "image_picker",
          "id": "status_image",
          "label": "First part image"
        },
        {
          "type": "image_picker",
          "id": "status_image_2",
          "label": "Second part image"
        },
        {
          "type": "image_picker",
          "id": "rule_icon",
          "label": "First part icon"
        },
        {
          "type": "image_picker",
          "id": "rule_icon_2",
          "label": "Second part icon"
        },
        {
          "type": "text",
          "id": "update_text",
          "label": "First part text",
          "default": "text"
        },

        {
          "type": "text",
          "id": "task_button_name",
          "label": "First part button",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "task_url",
          "label": "First part url"
        },
        {
          "type": "text",
          "id": "update_text_2",
          "label": "Second part text",
          "default": "text"
        },
        {
          "type": "text",
          "id": "task_button_name_2",
          "label": "Second part button",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "task_url_2",
          "label": "Second part url"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background",
          "default": "#FDF8EC"
        },
        {
          "type": "header",
          "content": "card Background"
        },
        {
          "type": "color_scheme",
          "id": "background_schema_2",
          "default": "scheme_2",
          "label": "Color scheme"
        },
        {
          "type": "select",
          "id": "layout_2",
          "options": [
            {
              "value": "image_first",
              "label": "Text Left"
            },
            {
              "value": "text_first",
              "label": "Text Right"
            }
          ],
          "default": "image_first",
          "label": "Layout position"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Course Hignlights Section",
      "blocks": [
        {
          "type": "track_quiz"
        },
        {
          "type": "exercise_quiz"
        }
      ]
    }
  ]
}
{% endschema %}
