{{ 'dashboard.css' | asset_url | stylesheet_tag }}
{%- assign FamilyStarCompleted = customer.metafields.klaviyo.FamilyStarCompleted -%}
{%- assign ChildHassel = customer.metafields.klaviyo.FS_ChildHassel | times: 1 -%}
{%- assign ChildTemper = customer.metafields.klaviyo.FS_ChildTemper | times: 1 -%}
{%- assign MyConfidence = customer.metafields.klaviyo.FS_MyConfidence | times: 1 -%}
{%- assign MyWellbeing = customer.metafields.klaviyo.FS_MyWellbeing | times: 1 -%}
{%- assign MyChild = customer.metafields.klaviyo.FS_MyChild | times: 1 -%}
{%- assign MyParenting = customer.metafields.klaviyo.FS_MyParenting | times: 1 -%}

{%- assign FamilyStarQuizStage = customer.metafields.klaviyo.FamilyStarQuizStage -%}
{%- assign SecondFamilyStarCompleted = customer.metafields.klaviyo.SecondFamilyStarCompleted -%}
{%- assign FS_Second_MyWellbeing = customer.metafields.klaviyo.FS_Second_MyWellbeing | times: 1 -%}
{%- assign FS_Second_MyParenting = customer.metafields.klaviyo.FS_Second_MyParenting | times: 1 -%}
{%- assign FS_Second_MyConfidence = customer.metafields.klaviyo.FS_Second_MyConfidence | times: 1 -%}
{%- assign FS_Second_MyChild = customer.metafields.klaviyo.FS_Second_MyChild | times: 1 -%}
{%- assign FS_Second_ChildTemper = customer.metafields.klaviyo.FS_Second_ChildTemper | times: 1 -%}
{%- assign FS_Second_ChildHassel = customer.metafields.klaviyo.FS_Second_ChildHassel | times: 1 -%}

{% assign isSecondResultCalculating = false %}

{% if customer.tags contains "prq_planpt1Roundup_true" and SecondFamilyStarCompleted == blank and FamilyStarQuizStage == "Second" and customer.metafields.klaviyo.FamilyStarCompleted != blank %}
  {% assign isSecondResultCalculating = true %}
{% endif %}

{%- assign isQuizCompleted = true -%}

{%- assign isCalculating = false -%}

{%- if FamilyStarCompleted == blank or isSecondResultCalculating == true -%}
  {%- assign isCalculating = true -%}
{%- elsif ChildHassel == blank or ChildTemper == blank or MyConfidence == blank or MyWellbeing == blank or MyChild == blank or MyParenting == blank -%}
  {%- assign isCalculating = true -%}
{%- endif -%}

{%- if request.design_mode -%}
  {%- assign isCalculating = false -%}
{%- endif -%}

{%- capture sadSVG -%}
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
  <path d="M3.375 9.43555C3.375 10.5272 3.59001 11.6081 4.00775 12.6166C4.42549 13.6251 5.03779 14.5415 5.80967 15.3134C6.58156 16.0853 7.49792 16.6976 8.50644 17.1153C9.51496 17.533 10.5959 17.748 11.6875 17.748C12.7791 17.748 13.86 17.533 14.8686 17.1153C15.8771 16.6976 16.7934 16.0853 17.5653 15.3134C18.3372 14.5415 18.9495 13.6251 19.3672 12.6166C19.785 11.6081 20 10.5272 20 9.43555C20 8.34393 19.785 7.26301 19.3672 6.25449C18.9495 5.24597 18.3372 4.32961 17.5653 3.55772C16.7934 2.78583 15.8771 2.17354 14.8686 1.7558C13.86 1.33806 12.7791 1.12305 11.6875 1.12305C10.5959 1.12305 9.51496 1.33806 8.50644 1.7558C7.49792 2.17354 6.58156 2.78583 5.80967 3.55772C5.03779 4.32961 4.42549 5.24597 4.00775 6.25449C3.59001 7.26301 3.375 8.34393 3.375 9.43555Z" fill="#C9D9D3"/>
  <path d="M1 9.43555C1 10.5272 1.21501 11.6081 1.63275 12.6166C2.05049 13.6251 2.66279 14.5415 3.43467 15.3134C4.20656 16.0853 5.12292 16.6976 6.13144 17.1153C7.13996 17.533 8.22089 17.748 9.3125 17.748C10.4041 17.748 11.485 17.533 12.4936 17.1153C13.5021 16.6976 14.4184 16.0853 15.1903 15.3134C15.9622 14.5415 16.5745 13.6251 16.9922 12.6166C17.41 11.6081 17.625 10.5272 17.625 9.43555C17.625 8.34393 17.41 7.26301 16.9922 6.25449C16.5745 5.24597 15.9622 4.32961 15.1903 3.55772C14.4184 2.78583 13.5021 2.17354 12.4936 1.7558C11.485 1.33806 10.4041 1.12305 9.3125 1.12305C8.22089 1.12305 7.13996 1.33806 6.13144 1.7558C5.12292 2.17354 4.20656 2.78583 3.43467 3.55772C2.66279 4.32961 2.05049 5.24597 1.63275 6.25449C1.21501 7.26301 1 8.34393 1 9.43555Z" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M11.5039 11.625C11.2936 11.3609 10.9788 11.1398 10.5934 10.9857C10.2079 10.8315 9.76643 10.75 9.31641 10.75C8.86638 10.75 8.42488 10.8315 8.03943 10.9857C7.65398 11.1398 7.33917 11.3609 7.12891 11.625" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M5.38073 7.39592C5.77751 7.19066 6.21872 7.08621 6.66541 7.0918C7.11211 7.09739 7.55056 7.21284 7.94208 7.42796" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M10.6307 7.39592C11.0275 7.19066 11.4687 7.08621 11.9154 7.0918C12.3621 7.09739 12.8006 7.21284 13.1921 7.42796" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
{%- endcapture -%}

{%- capture HappySVG -%}
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
  <path d="M3.375 9.81055C3.375 10.9022 3.59001 11.9831 4.00775 12.9916C4.42549 14.0001 5.03779 14.9165 5.80967 15.6884C6.58156 16.4603 7.49792 17.0726 8.50644 17.4903C9.51496 17.908 10.5959 18.123 11.6875 18.123C12.7791 18.123 13.86 17.908 14.8686 17.4903C15.8771 17.0726 16.7934 16.4603 17.5653 15.6884C18.3372 14.9165 18.9495 14.0001 19.3672 12.9916C19.785 11.9831 20 10.9022 20 9.81055C20 8.71893 19.785 7.63801 19.3672 6.62949C18.9495 5.62097 18.3372 4.70461 17.5653 3.93272C16.7934 3.16083 15.8771 2.54854 14.8686 2.1308C13.86 1.71306 12.7791 1.49805 11.6875 1.49805C10.5959 1.49805 9.51496 1.71306 8.50644 2.1308C7.49792 2.54854 6.58156 3.16083 5.80967 3.93272C5.03779 4.70461 4.42549 5.62097 4.00775 6.62949C3.59001 7.63801 3.375 8.71893 3.375 9.81055Z" fill="#C9D9D3"/>
  <path d="M1 9.81055C1 10.9022 1.21501 11.9831 1.63275 12.9916C2.05049 14.0001 2.66279 14.9165 3.43467 15.6884C4.20656 16.4603 5.12292 17.0726 6.13144 17.4903C7.13996 17.908 8.22089 18.123 9.3125 18.123C10.4041 18.123 11.485 17.908 12.4936 17.4903C13.5021 17.0726 14.4184 16.4603 15.1903 15.6884C15.9622 14.9165 16.5745 14.0001 16.9922 12.9916C17.41 11.9831 17.625 10.9022 17.625 9.81055C17.625 8.71893 17.41 7.63801 16.9922 6.62949C16.5745 5.62097 15.9622 4.70461 15.1903 3.93272C14.4184 3.16083 13.5021 2.54854 12.4936 2.1308C11.485 1.71306 10.4041 1.49805 9.3125 1.49805C8.22089 1.49805 7.13996 1.71306 6.13144 2.1308C5.12292 2.54854 4.20656 3.16083 3.43467 3.93272C2.66279 4.70461 2.05049 5.62097 1.63275 6.62949C1.21501 7.63801 1 8.71893 1 9.81055Z" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M7.12891 11.125C7.33917 11.3891 7.65398 11.6102 8.03943 11.7643C8.42488 11.9185 8.86638 12 9.31641 12C9.76643 12 10.2079 11.9185 10.5934 11.7643C10.9788 11.6102 11.2936 11.3891 11.5039 11.125" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M5.38073 7.77092C5.77751 7.56566 6.21872 7.46121 6.66541 7.4668C7.11211 7.47239 7.55056 7.58784 7.94208 7.80296" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M10.6307 7.77092C11.0275 7.56566 11.4687 7.46121 11.9154 7.4668C12.3621 7.47239 12.8006 7.58784 13.1921 7.80296" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
{%- endcapture -%}

<section class="dashboard dashboard_family">
  <div class="page-width">
    <div class="welcome-title">
      {%- capture customerName -%}<span>{{ customer.first_name }}</span>{%- endcapture -%}
        <h4>{{ 'quiz.general.welcome_text_html' | t: name:customerName }}</h4>
    </div>
    <div class="dash_tab_block">
      <div class="tab_dash">
        <div class="left_sidebar tab-transparent">
          {% render 'left-sidebar' section:section %}
        </div>
        <div class="dashbord_box dash_over_info">
          <div class="family-graph-block {% if isCalculating == true %}calculating{% endif %}">
            <div class="family-block scroll-trigger animate--slide-in" style="--animation-order: 1;">
              <div class="family-title">
                <h5>
                  {%- if isQuizCompleted == blank -%}
                    <label class="scroll-trigger animate--slide-in">{{ section.settings.nq_title }}</label>
                  {%- else -%}
                    <label class="scroll-trigger animate--slide-in">{{ section.settings.title }}</label>
                  {%- endif -%}
                </h5>
                {%- if section.settings.description != blank -%}
                  <div class="family-star-description scroll-trigger animate--slide-in" style="--animation-order: 2;">
                    {{ section.settings.description }}
                  </div>
                {%- endif -%}
                {% comment %} <div class="click-info scroll-trigger animate--slide-in" style="--animation-order: 3;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="19" viewBox="0 0 21 19" fill="none">
                    <path d="M4 9.5C4 10.6162 4.21986 11.7215 4.64702 12.7528C5.07419 13.7841 5.70029 14.7211 6.48959 15.5104C7.27889 16.2997 8.21592 16.9258 9.24719 17.353C10.2785 17.7801 11.3838 18 12.5 18C13.6162 18 14.7215 17.7801 15.7528 17.353C16.7841 16.9258 17.7211 16.2997 18.5104 15.5104C19.2997 14.7211 19.9258 13.7841 20.353 12.7528C20.7801 11.7215 21 10.6162 21 9.5C21 8.38376 20.7801 7.27846 20.353 6.24719C19.9258 5.21592 19.2997 4.27889 18.5104 3.48959C17.7211 2.70029 16.7841 2.07419 15.7528 1.64702C14.7215 1.21986 13.6162 1 12.5 1C11.3838 1 10.2785 1.21986 9.24719 1.64702C8.21592 2.07419 7.27889 2.70029 6.48959 3.48959C5.70029 4.27889 5.07419 5.21592 4.64702 6.24719C4.21986 7.27846 4 8.38376 4 9.5Z" fill="#C9D9D3"/>
                    <path d="M1 9.5C1 10.6162 1.21986 11.7215 1.64702 12.7528C2.07419 13.7841 2.70029 14.7211 3.48959 15.5104C4.27889 16.2997 5.21592 16.9258 6.24719 17.353C7.27846 17.7801 8.38376 18 9.5 18C10.6162 18 11.7215 17.7801 12.7528 17.353C13.7841 16.9258 14.7211 16.2997 15.5104 15.5104C16.2997 14.7211 16.9258 13.7841 17.353 12.7528C17.7801 11.7215 18 10.6162 18 9.5C18 8.38376 17.7801 7.27846 17.353 6.24719C16.9258 5.21592 16.2997 4.27889 15.5104 3.48959C14.7211 2.70029 13.7841 2.07419 12.7528 1.64702C11.7215 1.21986 10.6162 1 9.5 1C8.38376 1 7.27846 1.21986 6.24719 1.64702C5.21592 2.07419 4.27889 2.70029 3.48959 3.48959C2.70029 4.27889 2.07419 5.21592 1.64702 6.24719C1.21986 7.27846 1 8.38376 1 9.5Z" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M11 15H9.66667C9.43092 15 9.20483 14.8946 9.03813 14.7071C8.87143 14.5196 8.77778 14.2652 8.77778 14V7.5C8.77778 7.36739 8.73095 7.24021 8.6476 7.14645C8.56425 7.05268 8.45121 7 8.33333 7H7" stroke="#01333E" stroke-width="0.888889" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8.22222 5.47597C8.16329 5.47597 8.10676 5.4509 8.06509 5.40627C8.02341 5.36163 8 5.3011 8 5.23798C8 5.17487 8.02341 5.11433 8.06509 5.0697C8.10676 5.02507 8.16329 5 8.22222 5" stroke="#01333E" stroke-width="0.888889"/>
                    <path d="M8.54688 5.47597C8.60581 5.47597 8.66234 5.4509 8.70401 5.40627C8.74568 5.36163 8.7691 5.3011 8.7691 5.23798C8.7691 5.17487 8.74568 5.11433 8.70401 5.0697C8.66234 5.02507 8.60581 5 8.54688 5" stroke="#01333E" stroke-width="0.888889"/>
                  </svg>
                  <p>Click on the circles for further information.</p>
                </div> {% endcomment %}
              </div>
              {%- assign buttonTitle = section.settings.nq_btn_text -%}
              {%- assign btnUrl = section.settings.btn_link -%}
              {%- if isQuizCompleted == true -%}
                {%- assign buttonTitle = section.settings.btn_text -%}
              {%- endif -%}
              
              {% if customer.tags contains "prq_planpt1Roundup_true" and FamilyStarQuizStage == "First" %}
                {%- if section.settings.rt_btn_text != blank and section.settings.rt_btn_link != blank -%}
                  <div class="course-btn scroll-trigger animate--slide-in" style="--animation-order: 4;">
                    <a class="button button--secondary" href="{{ section.settings.rt_btn_link }}">
                      {{ section.settings.rt_btn_text }}
                      <svg
                        aria-hidden="true"
                        class="icon icon-arrow"
                        focusable="false"
                        viewBox="0 0 21 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M10.5561 0.385992C10.217 0.0873893 9.69997 0.12026 9.40136 0.45941C9.10276 0.79856 9.13563 1.31556 9.47478 1.61416L18.0699 9.18165H1.4217C0.969828 9.18165 0.603516 9.54796 0.603516 9.99983C0.603516 10.4517 0.969828 10.818 1.4217 10.818H18.0721L9.47484 18.386C9.13566 18.6845 9.10274 19.2015 9.40131 19.5407C9.69988 19.8799 10.2169 19.9128 10.5561 19.6142L20.0822 11.2287L20.0827 11.2282C20.2568 11.0746 20.3963 10.8858 20.4918 10.6742C20.5805 10.4777 20.6294 10.2658 20.636 10.0507C20.637 10.0339 20.6375 10.0169 20.6375 9.99983C20.6375 9.98206 20.637 9.96441 20.6358 9.94692C20.6288 9.73324 20.5799 9.52282 20.4918 9.32764C20.3963 9.11604 20.2568 8.92719 20.0827 8.77363L20.0822 8.77318L10.5561 0.385992Z"
                          fill="currentColor"
                        ></path>
                      </svg>
                    </a>
                  </div>
                {%- endif -%}
              {% else %}
                {%- if buttonTitle != blank and btnUrl != blank -%}
                  <div class="course-btn scroll-trigger animate--slide-in" style="--animation-order: 4;">
                    <a class="button button--secondary" href="{{ btnUrl }}">
                      {{ buttonTitle }}
                      <svg
                        aria-hidden="true"
                        class="icon icon-arrow"
                        focusable="false"
                        viewBox="0 0 21 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M10.5561 0.385992C10.217 0.0873893 9.69997 0.12026 9.40136 0.45941C9.10276 0.79856 9.13563 1.31556 9.47478 1.61416L18.0699 9.18165H1.4217C0.969828 9.18165 0.603516 9.54796 0.603516 9.99983C0.603516 10.4517 0.969828 10.818 1.4217 10.818H18.0721L9.47484 18.386C9.13566 18.6845 9.10274 19.2015 9.40131 19.5407C9.69988 19.8799 10.2169 19.9128 10.5561 19.6142L20.0822 11.2287L20.0827 11.2282C20.2568 11.0746 20.3963 10.8858 20.4918 10.6742C20.5805 10.4777 20.6294 10.2658 20.636 10.0507C20.637 10.0339 20.6375 10.0169 20.6375 9.99983C20.6375 9.98206 20.637 9.96441 20.6358 9.94692C20.6288 9.73324 20.5799 9.52282 20.4918 9.32764C20.3963 9.11604 20.2568 8.92719 20.0827 8.77363L20.0822 8.77318L10.5561 0.385992Z"
                          fill="currentColor"
                        ></path>
                      </svg>
                    </a>
                  </div>
                {%- endif -%}
              {% endif %}

            </div>

            {% capture graphFacesResult %}
              <ul>
                {%- for block in section.blocks -%}
                  {%- if block.type == "faces" -%}
                    {%- assign points = 0 -%}
                    {%- if SecondFamilyStarCompleted != blank -%}

                      {%- case block.settings.type -%}
                        {%- when "my_child" -%}
                          {%- assign points = FS_Second_MyChild -%}
                        {%- when "child_temper" -%}
                          {%- assign points = FS_Second_ChildTemper -%}
                        {%- when "my_confidence" -%}
                          {%- assign points = FS_Second_MyConfidence -%}
                        {%- when "my_parenting" -%}
                          {%- assign points = FS_Second_MyParenting -%}
                        {%- when "my_wellbeing" -%}
                          {%- assign points = FS_Second_MyWellbeing -%}
                        {%- when "child_hassle" -%}
                          {%- assign points = FS_Second_ChildHassel -%}
                      {%- endcase -%}

                    {%- else -%}

                      {%- case block.settings.type -%}
                        {%- when "my_child" -%}
                          {%- assign points = MyChild -%}
                        {%- when "child_temper" -%}
                          {%- assign points = ChildTemper -%}
                        {%- when "my_confidence" -%}
                          {%- assign points = MyConfidence -%}
                        {%- when "my_parenting" -%}
                          {%- assign points = MyParenting -%}
                        {%- when "my_wellbeing" -%}
                          {%- assign points = MyWellbeing -%}
                        {%- when "child_hassle" -%}
                          {%- assign points = ChildHassel -%}
                      {%- endcase -%}

                    {%- endif -%}
                    <li>
                      <div class="tooltip_trigger">
                        {% if block.settings.type == "my_child" or block.settings.type == "my_parenting" %}

                          {%- if points > 5 -%}
                            {{ sadSVG }}
                            {%- else -%}
                            {{ HappySVG }}
                          {%- endif -%}

                        {% else %}

                          {%- if points > 5 -%}
                            {{ HappySVG }}
                          {%- else -%}
                            {{ sadSVG }}
                          {%- endif -%}

                        {% endif %}
                        <span>{{ block.settings.title }}</span>
                        <div class="tooltip">
                          <div class="tooltip_content">
                            <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M4 9.60176C4 10.7314 4.21501 11.8499 4.63275 12.8935C5.05049 13.9371 5.66279 14.8854 6.43467 15.6841C7.20656 16.4829 8.12292 17.1165 9.13144 17.5487C10.14 17.981 11.2209 18.2035 12.3125 18.2035C13.4041 18.2035 14.485 17.981 15.4936 17.5487C16.5021 17.1165 17.4184 16.4829 18.1903 15.6841C18.9622 14.8854 19.5745 13.9371 19.9922 12.8935C20.41 11.8499 20.625 10.7314 20.625 9.60176C20.625 8.47216 20.41 7.35362 19.9922 6.31001C19.5745 5.26639 18.9622 4.31814 18.1903 3.5194C17.4184 2.72065 16.5021 2.08705 15.4936 1.65477C14.485 1.22249 13.4041 1 12.3125 1C11.2209 1 10.14 1.22249 9.13144 1.65477C8.12292 2.08705 7.20656 2.72065 6.43467 3.5194C5.66279 4.31814 5.05049 5.26639 4.63275 6.31001C4.21501 7.35362 4 8.47216 4 9.60176Z" fill="#C9D9D3"/>
                              <path d="M1 9.60176C1 10.7314 1.21501 11.8499 1.63275 12.8935C2.05049 13.9371 2.66279 14.8854 3.43467 15.6841C4.20656 16.4829 5.12292 17.1165 6.13144 17.5487C7.13996 17.981 8.22089 18.2035 9.3125 18.2035C10.4041 18.2035 11.485 17.981 12.4936 17.5487C13.5021 17.1165 14.4184 16.4829 15.1903 15.6841C15.9622 14.8854 16.5745 13.9371 16.9922 12.8935C17.41 11.8499 17.625 10.7314 17.625 9.60176C17.625 8.47216 17.41 7.35362 16.9922 6.31001C16.5745 5.26639 15.9622 4.31814 15.1903 3.5194C14.4184 2.72065 13.5021 2.08705 12.4936 1.65477C11.485 1.22249 10.4041 1 9.3125 1C8.22089 1 7.13996 1.22249 6.13144 1.65477C5.12292 2.08705 4.20656 2.72065 3.43467 3.5194C2.66279 4.31814 2.05049 5.26639 1.63275 6.31001C1.21501 7.35362 1 8.47216 1 9.60176Z" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M11 14.8019H9.66667C9.43092 14.8019 9.20483 14.705 9.03813 14.5325C8.87143 14.36 8.77778 14.1261 8.77778 13.8821V7.90327C8.77778 7.78129 8.73095 7.66431 8.6476 7.57806C8.56425 7.49181 8.45121 7.44336 8.33333 7.44336H7" stroke="#01333E" stroke-width="0.888889" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M8.54644 5.59858C8.4875 5.59858 8.43098 5.57435 8.38931 5.53123C8.34763 5.48811 8.32422 5.42961 8.32422 5.36863C8.32422 5.30764 8.34763 5.24915 8.38931 5.20602C8.43098 5.1629 8.4875 5.13867 8.54644 5.13867" stroke="#01333E" stroke-width="0.888889"/>
                              <path d="M8.54688 5.59858C8.60581 5.59858 8.66234 5.57435 8.70401 5.53123C8.74568 5.48811 8.7691 5.42961 8.7691 5.36863C8.7691 5.30764 8.74568 5.24915 8.70401 5.20602C8.66234 5.1629 8.60581 5.13867 8.54688 5.13867" stroke="#01333E" stroke-width="0.888889"/>
                            </svg>                          
                            <div class="content_top rte">
                              {{ block.settings.top_description }}
                            </div>
                            <hr>
                            <div class="content_bottom rte">
                              {{ block.settings.bottom_description }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            {% endcapture %}
            <div class="graph-block scroll-trigger animate--slide-in" style="--animation-order: 2;">
              <div class="family-graph-face-result for-mobile">
                {{ graphFacesResult   }}
              </div>
              <div class="graph--img family_result">
                <canvas id="family_chat"></canvas>
                <div class="canvas_circle">
                  <svg width="804" height="603" viewBox="0 0 804 603" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="399.5" cy="241.5" r="305" stroke="#CBD1C9" stroke-opacity="0.4"/>
                    <circle cx="404" cy="241" r="360.5" stroke="#CBD1C9" stroke-opacity="0.2"/>
                    <circle cx="402" cy="241" r="407.5" stroke="#CBD1C9" stroke-opacity="0.15"/>
                    </svg>                    
                </div>
                {% comment %} <div class="canvas_center">
                  <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="26.9968" cy="27.0652" r="26.071" fill="#FDF8EC" stroke="#DADADA"/>
                    <g clip-path="url(#clip0_988_16942)">
                    <path d="M15.9531 27.0658C15.9531 28.6942 16.2739 30.3066 16.897 31.811C17.5202 33.3155 18.4335 34.6824 19.5849 35.8338C20.7364 36.9853 22.1033 37.8986 23.6077 38.5218C25.1122 39.1449 26.7246 39.4657 28.3529 39.4657C29.9813 39.4657 31.5937 39.1449 33.0982 38.5218C34.6026 37.8986 35.9695 36.9853 37.1209 35.8338C38.2724 34.6824 39.1857 33.3155 39.8089 31.811C40.432 30.3066 40.7528 28.6942 40.7528 27.0658C40.7528 25.4375 40.432 23.825 39.8089 22.3206C39.1857 20.8162 38.2724 19.4493 37.1209 18.2978C35.9695 17.1464 34.6026 16.233 33.0982 15.6099C31.5937 14.9867 29.9813 14.666 28.3529 14.666C26.7246 14.666 25.1122 14.9867 23.6077 15.6099C22.1033 16.233 20.7364 17.1464 19.5849 18.2978C18.4335 19.4493 17.5202 20.8162 16.897 22.3206C16.2739 23.825 15.9531 25.4375 15.9531 27.0658Z" fill="#C9D9D3"/>
                    <path d="M12.4141 27.0658C12.4141 28.6942 12.7348 30.3066 13.3579 31.811C13.9811 33.3155 14.8945 34.6824 16.0459 35.8338C17.1973 36.9853 18.5643 37.8986 20.0687 38.5218C21.5731 39.1449 23.1855 39.4657 24.8139 39.4657C26.4423 39.4657 28.0547 39.1449 29.5591 38.5218C31.0635 37.8986 32.4304 36.9853 33.5819 35.8338C34.7333 34.6824 35.6467 33.3155 36.2698 31.811C36.893 30.3066 37.2137 28.6942 37.2137 27.0658C37.2137 25.4375 36.893 23.825 36.2698 22.3206C35.6467 20.8162 34.7333 19.4493 33.5819 18.2978C32.4304 17.1464 31.0635 16.233 29.5591 15.6099C28.0547 14.9867 26.4423 14.666 24.8139 14.666C23.1855 14.666 21.5731 14.9867 20.0687 15.6099C18.5643 16.233 17.1973 17.1464 16.0459 18.2978C14.8945 19.4493 13.9811 20.8162 13.3579 22.3206C12.7348 23.825 12.4141 25.4375 12.4141 27.0658Z" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M27.4922 30.3281C27.2266 29.9341 26.8289 29.6044 26.3421 29.3744C25.8552 29.1444 25.2975 29.0229 24.729 29.0229C24.1606 29.0229 23.6029 29.1444 23.116 29.3744C22.6291 29.6044 22.2315 29.9341 21.9659 30.3281" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18.9348 24.018C19.5267 23.7119 20.1849 23.5561 20.8512 23.5644C21.5175 23.5727 22.1716 23.7449 22.7556 24.0658" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M26.7669 24.018C27.3587 23.7119 28.0169 23.5561 28.6832 23.5644C29.3496 23.5727 30.0036 23.7449 30.5876 24.0658" stroke="#01333E" stroke-width="1.04737" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_988_16942">
                    <rect width="30.7043" height="27.1615" fill="white" transform="translate(11.2305 13.4844)"/>
                    </clipPath>
                    </defs>
                    </svg>                    
                </div> {% endcomment %}
                <div class="family-graph-face-result for-desktop">
                  {{ graphFacesResult   }}
                </div>
                {% comment %}
                <img
                  src="https://cdn.shopify.com/s/files/1/0730/5868/1130/files/Right_Content_2.png?v=1691820437"
                  alt=""
                  srcset=""
                >
                {% endcomment %}
              </div>
              <div class="family-key">
                <h6>Key</h6>
                <div class="key--wrapper">
                  <div class="key-point">
                    <p>
                      {{ sadSVG }}
                      <span> Low scores, not desirable </span>
                    </p>
                    <p>                    
                      {{ HappySVG }}
                      <span> High scores, desirable </span>
                    </p>
                  </div>
                  {% if SecondFamilyStarCompleted != blank %}
                    <div id="graph-results" class="graph-colors">
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="calculating-result--wrapper">
                {% if isSecondResultCalculating == true %}
                  <label>Calculating New Result...</label>
                {% else %}
                  <label>Calculating Result...</label>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">

const family_chat = document.getElementById('family_chat');    
const family_data = {
  labels: ['My child', 'Child Temper', 'My confidence', 'My parenting', 'My wellbeing', 'Child hassle'],
  datasets: [{
    label: 'Initial results',
    data: [{{MyChild}}, {{ChildTemper}}, {{MyConfidence}}, {{MyParenting}}, {{MyWellbeing}}, {{ChildHassel}}],
    fill: true,
    backgroundColor: 'rgba(223, 232, 229, 0.6)',
    borderColor: 'rgb(223, 232, 229)',
    pointBackgroundColor: '#01333E',
    pointBorderColor: '#01333E',
    pointHoverBackgroundColor: '#01333E',
    pointHoverBorderColor: 'rgb(223, 232, 229)'
  }]
};  


{% if SecondFamilyStarCompleted != blank %}
  family_data.datasets.push({
    label: 'Latest results',
    data: [{{FS_Second_MyChild}}, {{FS_Second_ChildTemper}}, {{FS_Second_MyConfidence}}, {{FS_Second_MyParenting}}, {{FS_Second_MyWellbeing}}, {{FS_Second_ChildHassel}}],
    fill: true,
    backgroundColor: 'rgba(255, 192, 203, 0.5)',
    borderColor: 'rgb(255, 192, 203)',
    pointBackgroundColor: '#01333E',
    pointBorderColor: '#01333E',
    pointHoverBackgroundColor: '#01333E',
    pointHoverBorderColor: 'rgb(255, 192, 203)'
  })
{% endif %}

let myFamilyChart = new Chart(family_chat, {
  type: 'radar',
  data: family_data,
  options: {
    aspectRatio: 1,
    responsive: true,
    maintainAspectRatio: true,
    elements: {
      line: {
        borderWidth: 1
      }
    },
    scales: {
      r: {
        grid: {
          display: false,
          color: 'none'
        },
        ticks: {
          display:false,
        },
        angleLines: {
          display: true,
        },
        pointLabels: {
          color: '#01333E',
        },
        suggestedMin: 0,
        suggestedMax: 10
      }
    },
    //tooltip:
    layout: {
      padding: 1
    },
    plugins: {
      htmlLegend:{
        containerID:"graph-results"
      },
      legend:{
        display: false
      },
      tooltip: false    
    }
  },
  plugins:[
    {
      id: 'htmlLegend',
      afterUpdate(chart, args, options){
        console.log("afterUpdate..",chart,args,options);
        const items = chart.options.plugins.legend.labels.generateLabels(chart);
        console.log(items);
        let resultColor = {
          "Initial results":"#DFE8E5",
          "Latest results":"#C9D9D3"
        }
        let itemHTML = items.map(item => {
          return  `
            <button type="button" class="result-btn js-result-btn ${!chart.isDatasetVisible(item.datasetIndex) ? 'disabled':''} " data-index="${item.datasetIndex}">
              <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="0.623047" width="17" height="17" rx="8.5" fill="${resultColor[item.text]}"/>
                <rect x="0.5" y="0.623047" width="17" height="17" rx="8.5" stroke="#DADADA"/>
              </svg>
              <span>${item.text}</span>                    
            </button>
          `;
        });
        let container = document.getElementById(chart.options.plugins.htmlLegend.containerID);
        if(container){
          container.innerHTML = itemHTML.join('');
          /*container.querySelectorAll('.js-result-btn').forEach(button => {
            button.addEventListener('click',function(){
              chart.setDatasetVisibility(parseInt(this.dataset.index), !chart.isDatasetVisible(parseInt(this.dataset.index)));
              chart.update();
            });
          });*/
        }
      }
    }
  ]
});

Chart.defaults.borderColor = '#DADADA';

{% if FamilyStarQuizStage == "Second" and SecondFamilyStarCompleted != blank %}
  window.sessionStorage.removeItem('FamilyStarQuizStage');
{% endif %}

let sessionFamilyStarQuizStage = window.sessionStorage.getItem('FamilyStarQuizStage');
if(sessionFamilyStarQuizStage == "Second"){
  document.querySelector('.family-graph-block').classList.add('calculating');
  document.querySelector('.calculating-result--wrapper label').innerHTML = "Calculating New Result...";
  setTimeout(function(){
    window.location.reload();
  },10000)
}

{%- if isCalculating == true -%}
  setTimeout(function(){
    window.location.reload();
  },10000)
{%- endif -%}
</script>

{% schema %}
{
  "name": "Dashboard Family star",
  "settings": [
    {
      "type": "header",
      "content": "Title"
    },
    {
      "type": "text",
      "id": "nq_title",
      "label": "Title",
      "default": "My Family Star",
      "info":"If User hasn't complated Quiz."
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "My Family Star",
      "info":"If User has complated Quiz."
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Text",
      "default": "Go to Family Star",
      "info":"If User has complated Quiz."
    },
    {
      "type": "text",
      "id": "nq_btn_text",
      "label": "Text",
      "default": "Take a Quizz",
      "info":"If User hasn't complated Quiz."
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Re-Take Quiz Button"
    },
    {
      "type": "text",
      "id": "rt_btn_text",
      "label": "Text",
      "default": "Re-Take the Quiz"
    },
    {
      "type": "url",
      "id": "rt_btn_link",
      "label": "Button Link"
    }
  ],
  "blocks":[
    {
      "type":"faces",
      "name":"Faces",
      "limit":6,
      "settings":[
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "options": [
            {
              "value": "my_child",
              "label": "My Child"
            },
            {
              "value": "child_temper",
              "label": "Child Temper"
            },
            {
              "value": "my_confidence",
              "label": "My confidence"
            },
            {
              "value": "my_parenting",
              "label": "My parenting"
            },
            {
              "value": "my_wellbeing",
              "label": "My wellbeing"
            },
            {
              "value": "child_hassle",
              "label": "Child hassle"
            }
          ],
          "default": "my_child"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "header",
          "content": "Hover content"
        },
        {
          "type": "inline_richtext",
          "id": "top_description",
          "label": "Top Description"
        },
        {
          "type": "richtext",
          "id": "bottom_description",
          "label": "Bottom Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Dashboard Family star"
    }
  ]
}
{% endschema %}
{% stylesheet %} {% endstylesheet %}
{% javascript %} {% endjavascript %}
