{{ 'dashboard.css' | asset_url | stylesheet_tag }}
{{ 'dashboard-course.css' | asset_url | stylesheet_tag }}

<script src="{{ 'dashboard-course.js' | asset_url }}" defer="defer"></script>

{%- assign deshboardContent = shop.metaobjects['admin_dashboard']['admin-dashboard-content']['content'].value -%}

<dashboard-course class="dashboard_course dashboard dashboard_family">
  <div class="page-width">
    <div class="welcome-title">
      <h4>Welcome back <span>{{ customer.first_name }}</span></h4>
    </div>
    <div class="dash_tab_block">
      <div class="tab_dash">
        <div class="left_sidebar tab-transparent">
          {% render 'left-sidebar' section:section %}
        </div>
        <div class="dashbord_box dash_over_info">
          <div class="family-graph-block">
            <div class="course-progress">
              <div class="course-title">
                <h5 class="title">Course progress</h5>
              </div>
              <div class="course-grid">
                {% for course in deshboardContent.courses %}
                  {%- assign courseValue = course | last -%}
                  
                  <div class="white-box {% unless forloop.first %}top-border{% endunless %}">
                    <div class="icon-text">
                      <img src="{{ courseValue.icon_url }}" alt="{{ courseValue.title }}">
                      <span>{{ courseValue.title }}</span>
                    </div>
                    <div class="progress-grid">
                      {% for innerCourse in courseValue.courses %}
                        {% assign innerCourseValue = innerCourse | last %}
                        <div class="progress_bar_item">
                          <div class="item_button">
                            <button type="button" class="button button--secondary">{{ innerCourseValue.title }}</button>
                          </div>
                          {% for part in innerCourseValue.parts %}
                            {%- assign partValue = part | last -%}
                            <div class="meter item-{{ forloop.index }}">
                              <span data-progress="00" style="width: 70%"></span>
                            </div>
                            <div class="progress_bar_count item-1">
                              <div class="bar_count">{{ partValue.steps | size }}/{{ partValue.steps | size }}</div>
                            </div>
                          {% endfor %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>

                {% endfor %}
              </div>

              {% comment %} 
                <div class="course-grid">
                  <div class="white-box">
                    <div class="icon-text">
                      {% render 'icon-heart' %}
                      <span>Love</span>
                    </div>
                    <div class="progress-grid">
                      <div class="progress_bar_item">
                        <div class="item_button">
                          <a href="#" class="button button--secondary">Play</a>
                        </div>
                        <div class="meter item-1">
                          <span data-progress="00" style="width: 70%"></span>
                        </div>
                        <div class="progress_bar_count item-1">
                          <div class="bar_count">4/7</div>
                        </div>
                        <div class="meter item-2">
                          <span data-progress="00" style="width: 0"></span>
                        </div>
                        <div class="progress_bar_count item-2">
                          <div class="bar_count">0/8</div>
                        </div>
                      </div>
                      <div class="progress_bar_item">
                        <div class="item_button">
                          <a href="#" class="button button--secondary">Listen</a>
                        </div>
                        <div class="meter item-1">
                          <span data-progress="00" style="width: 70%"></span>
                        </div>
                        <div class="progress_bar_count item-1">
                          <div class="bar_count">0/8</div>
                        </div>
                        <div class="meter item-2">
                          <span data-progress="00" style="width: 0"></span>
                        </div>
                        <div class="progress_bar_count item-2">
                          <div class="bar_count">0/8</div>
                        </div>
                      </div>
                      <div class="progress_bar_item">
                        <div class="item_button">
                          <a href="#" class="button button--secondary">Praise</a>
                        </div>
                        <div class="meter item-1">
                          <span data-progress="00" style="width: 70%"></span>
                        </div>
                        <div class="progress_bar_count item-1">
                          <div class="bar_count">0/8</div>
                        </div>
                        <div class="meter item-2">
                          <span data-progress="00" style="width: 0"></span>
                        </div>
                        <div class="progress_bar_count item-2">
                          <div class="bar_count">0/8</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="white-box top-border">
                    <div class="icon-text">
                      {% render 'icon-hand' %}
                      <span>Limits</span>
                    </div>
                    <div class="progress-grid">
                      <div class="progress_bar_item">
                        <div class="item_button">
                          <a href="#" class="button button--secondary">Rules</a>
                        </div>
                        <div class="meter item-1">
                          <span data-progress="00" style="width: 70%"></span>
                        </div>
                        <div class="progress_bar_count item-1">
                          <div class="bar_count">0/8</div>
                        </div>
                        
                      </div>
                      <div class="progress_bar_item">
                        <div class="item_button">
                          <a href="#" class="button button--secondary">Temper</a>
                        </div>
                        <div class="meter item-1">
                          <span data-progress="00" style="width: 70%"></span>
                        </div>
                        <div class="progress_bar_count item-1">
                          <div class="bar_count">4/7</div>
                        </div>
                        
                      </div>
                      <div class="progress_bar_item">
                        <div class="item_button">
                          <a href="#" class="button button--secondary">Plan</a>
                        </div>
                        <div class="meter item-1">
                          <span data-progress="00" style="width: 70%"></span>
                        </div>
                        <div class="progress_bar_count item-1">
                          <div class="bar_count">0/7</div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              {% endcomment %}

              <div class="course_bottom">
                <div class="text">
                  <span>2 out of 9</span><br>
                  sessions completed
                </div>
              </div>
            </div>
            <div class="course_content">
              <div class="content_main">
                <div class="content_top">
                  <div class="content_item box-1">
                    <div class="title">Your parenting style is <span>name</span></div>
                  </div>
                  <div class="content_item box-2">
                    <div class="content_box">
                      <div class="icon">
                        {% render 'icon-marker' %}
                      </div>
                      <div class="text">My goal is to better understand my child and their feelings</div>
                    </div>
                  </div>
                </div>
                <div class="content_bottom">
                  <div class="content_item">
                    <div class="content_slider content_slider--wrapper">

                      <div class="carousel carousel-main js-parts-slider">
                        {% for course in deshboardContent.courses %}
                          {%- assign courseValue = course | last -%}

                          {% for innerCourse in courseValue.courses %}
                            {% assign innerCourseValue = innerCourse | last %}

                            {% for part in innerCourseValue.parts %}
                              {%- assign parValue = part | last -%} 
                                <div class="carousel-cell">
                                  <div class="internal_box_upper">
                                    <div class="internal_box">
                                      <div class="internal_box_main">
                                        <div class="icon">
                                          <img src="{{ innerCourseValue.icon_url }}" alt="{{ innerCourseValue.title }}">
                                        </div>
                                        <div class="internal_button">
                                          <button class="button button--secondary js-step-btn" data-target="{{ parValue.title | strip_html | handleize }}">{{ parValue.title }}</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="bottom_line">
                                    {% render 'icon-true-round' %}
                                    <div class="line"></div>
                                  </div>
                                </div>
                            {% endfor %}

                          {% endfor %}

                        {% endfor %}

                      </div>

                      <div class="step-sliders--wrapper js-step-sliders--wrapper">
                        {% for course in deshboardContent.courses %}
                          {%- assign courseValue = course | last -%}

                          {% for innerCourse in courseValue.courses %}
                            {% assign innerCourseValue = innerCourse | last %}

                            {% for part in innerCourseValue.parts %}
                              {%- assign parValue = part | last -%}
                              <div id="{{ parValue.title | strip_html | handleize }}" class="carousel carousel-nav js-steps-slider hidden">
                                {% for step in parValue.steps %}
                                  {%- assign stepValue = step | last -%}
                                  <div class="carousel-cell">
                                    <div class="content_course_main_box">
                                      <div class="content_text">
                                        <div class="top_text">
                                          <div class="text">{{ stepValue.title }}</div>
                                          <div class="text">{{ stepValue.subtitle }}</div>
                                        </div>
                                        <div class="bottom_text-wrapper">
                                          <div class="bottom_text">{{ stepValue.menute_text }}</div>
                                          <div class="internal_button">
                                            <a href="{{ stepValue.quizid }}" class="button button--secondary">{{ stepValue.button_title }}</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                {% endfor %}
                              </div>
                            {% endfor %}

                          {% endfor %}

                        {% endfor %}
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="content_footer">
                  <div class="content_footer_main">
                    <div class="content_footer_box item-1">
                      <div class="content_box-1">
                        <div class="icon">
                          {% render 'icon-true-bg-round'%}
                        </div>
                        <div class="text">Last time you learnt</div>
                      </div>
                      <div class="content_box-2">
                        <div class="text_content">
                          <div class="title"> <span>Praise </span><b>Part 2 </b>- Introduction</div>
                          <div class="text">How to give praise for the right things</div>
                        </div>
                      </div>
                    </div>
                    <div class="content_footer_box item-2">
                      <div class="content_box-1">
                        <div class="icon">
                          {% render 'icon-red-forword'%}
                        </div>
                        <div class="text">Next time you’ll learn</div>
                      </div>
                      <div class="content_box-2">
                        <div class="text_content">
                          <div class="title"> <span>Praise </span><b>Part 3</b> - Introduction</div>
                          <div class="text">How to praise good actions, over bad actions</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dashboard-course>

{% schema %}
{
  "name": "Dashboard Course",
  "settings": [
    {
      "type": "text",
      "id": "title_1",
      "label": "Title 1"
    },
    {
      "type": "url",
      "id": "link_1",
      "label": "Link 1"
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "Title 2"
    },
    {
      "type": "url",
      "id": "link_2",
      "label": "Link 2"
    },
    {
      "type": "text",
      "id": "title_3",
      "label": "Title 3"
    },
    {
      "type": "url",
      "id": "link_3",
      "label": "Link 3"
    },
    {
      "type": "text",
      "id": "title_4",
      "label": "Title 4"
    },
    {
      "type": "url",
      "id": "link_4",
      "label": "Link 4"
    },
    {
      "type": "text",
      "id": "title_5",
      "label": "Title 5"
    },
    {
      "type": "url",
      "id": "link_5",
      "label": "Link 5"
    }
  ],
  "presets": [
    {
      "name": "Dashboard Course"
    }
  ]
}
{% endschema %}

{% stylesheet %} {% endstylesheet %}

{% javascript %}
{% endjavascript %}
