{{ 'dashboard.css' | asset_url | stylesheet_tag }}

{%- assign isCoursePurchased = false -%}
{% if customer and customer.tags contains 'Purchased Course' %}
  {%- assign isCoursePurchased = true -%}
{% endif %}

{%- assign deshboardContent = shop.metaobjects['admin_dashboard']['admin-dashboard-content']['content'].value -%}

{%- assign nextStepContent = false -%}
{%- assign previoustStepContent = false -%}


{% # Get Active Step %}
{%- assign lastCompletedStepIndex = 0 -%}
{%- assign lastCompletedStepDetected = false -%}
{%- assign tmpCount = 0 -%}
{%- assign tmpPartCount = 0 -%}
{%- assign currentPartIndex = 0 -%}
{%- for course in deshboardContent.courses -%}
  {%- assign courseValue = course | last -%}

  {%- for innerCourse in courseValue.courses -%}
    {%- assign innerCourseValue = innerCourse | last -%}

    {%- for part in innerCourseValue.parts -%}
      {%- assign partValue = part | last -%}
      {%- assign tmpPartCount = tmpPartCount | plus: 1 -%}
      {%- assign totalSteps = partValue.steps | size -%}

      {%- for step in partValue.steps -%}
        {%- assign tmpCount = tmpCount | plus: 1 -%}
        {%- assign stepValue = step | last -%}
        {%- assign isActiveStep = false -%}

        {%- if lastCompletedStepDetected == false -%}
          {%- for tag in customer.tags -%}
            {%- if tag == stepValue.tag -%}
              {%- assign isActiveStep = true -%}
              {%- assign lastCompletedStepDetected = true -%}
              {%- assign lastCompletedStepIndex = tmpCount -%}
              {%- assign previoustStepContent = stepValue -%}
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}

        {%- if lastCompletedStepDetected == true -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}

      {%- if lastCompletedStepDetected == true -%}
        {%- if lastCompletedStepIndex > totalSteps -%}
          {%- assign tmpPartCount = tmpPartCount | plus: 1 -%}
        {%- endif -%}
        {%- assign currentPartIndex = tmpPartCount -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}

    {%- if lastCompletedStepDetected == true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- if lastCompletedStepDetected == true -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- assign currentStepIndex = lastCompletedStepIndex | plus: 1 -%}
{%- assign nextStepIndex = currentStepIndex | plus: 1 -%}

{%- assign tmpCount = 0 -%}
{%- for course in deshboardContent.courses -%}
  {%- assign courseValue = course | last -%}

  {%- for innerCourse in courseValue.courses -%}
    {%- assign innerCourseValue = innerCourse | last -%}

    {%- for part in innerCourseValue.parts -%}
      {%- assign partValue = part | last -%}

      {%- for step in partValue.steps -%}
        {%- assign tmpCount = tmpCount | plus: 1 -%}
        {%- assign stepValue = step | last -%}

        {%- if tmpCount == nextStepIndex -%}
          {%- assign nextStepContent = stepValue -%}
          {%- break -%}
        {%- endif -%}
        
      {%- endfor -%}

      {%- if nextStepContent != false -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}

    {%- if nextStepContent != false -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- if nextStepContent != false -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}



<section class="dashboard dashboard_overview">
  <div class="page-width">
    <div class="welcome-title scroll-trigger animate--slide-in" style="--animation-order: 1;" >
      {% if customer %}<h4>Welcome back <span>{{ customer.first_name }}</span></h4>{% else %}<h4>Welcome, guest!</h4>{% endif %}
    </div>
    <div class="dash_tab_block">
      <div class="tab_dash">
        <div class="left_sidebar scroll-trigger animate--slide-in" style="--animation-order: 2;" >{% render 'left-sidebar' section:section %}</div>
        <div class="dashbord_box dash_over_info">
          <div class="icon-with-text-block">
            {%- assign left_icon = section.settings.left_icon -%}
            {%- assign left_icon_back_color = section.settings.left_icon_back_color -%}
            {%- assign left_description = section.settings.left_description -%}
            {%- assign left_np_description = section.settings.left_np_description -%}
            {%- assign leftDescription = left_np_description -%}
            {%- assign ParentGole = customer.metafields.klaviyo['Q-vwHmPJ_laiMEQN__What_do_you_want_to_do_better_as_a_parent_'] -%}
            {%- if isCoursePurchased -%}
              {%- assign leftDescription = left_description -%}
            {%- endif -%}
            {%- if left_icon != blank and leftDescription != blank and ParentGole != blank -%}
              <div class="icon-box scroll-trigger animate--slide-in" style="--animation-order: 3;">
                <div class="icon" style="background:{{ left_icon_back_color }};">
                  <img src="{{ left_icon | image_url }}" alt="{{ left_icon.alt | default:'icon' }}">
                </div>
                <div class="icon-text">
                  {{ leftDescription | replace: '[dynamic_text]', ParentGole }}
                </div>
              </div>
            {%- endif -%}

            {%- assign right_icon = section.settings.right_icon -%}
            {%- assign right_icon_back_color = section.settings.right_icon_back_color -%}
            {%- assign right_description = section.settings.right_description -%}
            {%- assign right_np_description = section.settings.right_np_description -%}
            {%- assign rightDescription = right_np_description -%}
            {%- assign ChildGole = customer.metafields.klaviyo['.Q-vwHmPJ_laiMEQN__What_do_you_want_to_do_better_as_a_parent_'] -%}
            {%- if isCoursePurchased -%}
              {%- assign rightDescription = right_description -%}
            {%- endif -%}

            {%- if left_icon != blank and leftDescription != blank and ChildGole != blank -%}
              <div class="icon-box scroll-trigger animate--slide-in" style="--animation-order: 4;">
                <div class="icon" style="background:{{ right_icon_back_color }};">
                  <img src="{{ right_icon | image_url }}" alt="{{ right_icon.alt | default:'icon' }}" />
                </div>
                <div class="icon-text">
                  {{ rightDescription | replace: '[dynamic_text]', ChildGole }}
                </div>
              </div>
            {%- endif -%}

          </div>

          <div class="progress-start-block">
            {%- assign animationCount = 4 -%}
            {% for block in section.blocks %}
              {%- case block.type -%}
                {%- when "course_progress" -%}
                  {%- assign animationCount = animationCount | plus: 1 -%}
                  <div class="course-progress scroll-trigger animate--slide-in" style="--animation-order: {{ animationCount }};" {{ block.shopify_attributes }}>
                    {%- assign title = block.settings.np_title -%}
                    {%- if isCoursePurchased -%}
                      {%- assign title = block.settings.title -%}
                    {%- endif -%}
                    {%- if title != blank -%}
                      <div class="course-title">
                        <h5>{{ title }}</h5>
                      </div>
                    {%- endif -%}
                    <div class="course-grid">
                      {%- if isCoursePurchased == true -%}
                        <div class="course-progress--wrapper">
                          {%- assign tmpCount = 0 -%}
                          {% for course in deshboardContent.courses %}
                            {%- assign courseValue = course | last -%}
                            {% if courseValue.disable_course_progress == "true" %}{%- continue -%}{% endif %}
                            <div class="white-box {% unless forloop.first %}top-border{% endunless %}">
                              <div class="icon-text">
                                <img src="{{ courseValue.icon_url }}" alt="{{ courseValue.title }}">
                                <span>{{ courseValue.title }}</span>
                              </div>
                              <div class="progress-grid">
                                {% for innerCourse in courseValue.courses %}
                                  {% assign innerCourseValue = innerCourse | last %}
                                  {% for part in innerCourseValue.parts %}
                                    {%- assign partValue = part | last -%}
                                    {% if partValue.disabled == "true" %}
                                      {%- continue -%}
                                    {% endif %}

                                    {%- assign totalCourses = totalCourses | plus: 1 -%}
                                    {%- assign totalSteps = partValue.steps | size | times: 1.0 -%}
                                    {%- assign completedStepCount = 0 -%}

                                    {%- for step in partValue.steps -%}
                                      {%- assign stepValue = step | last -%}
                                      {%- assign tmpCount = tmpCount | plus: 1 -%}

                                      {%- if tmpCount <= lastCompletedStepIndex -%}
                                        {%- assign completedStepCount = completedStepCount | plus: 1 -%}
                                      {%- endif -%}
                                    {%- endfor -%}

                                    {%- assign totalProgress = completedStepCount | divided_by: totalSteps | times: 100 -%}
        
                                    <div class="meter item-{{ forloop.index }}">
                                      <span style="--progress-width: {{ totalProgress }}%"></span>
                                    </div>
                                  {% endfor %}
                                {% endfor %}
                              </div>
                            </div>
                          {% endfor %}
                        </div>

                      {%- else -%}
                        <div class="course-progress--wrapper">
                          <div class="white-box">
                            <div class="icon-text">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="22"
                                height="22"
                                viewBox="0 0 22 22"
                                fill="none"
                              >
                                <g clip-path="url(#clip0_1002_6123)">
                                  <path
                                    d="M11.0015 20.1051L2.01818 10.8541C1.23031 10.0813 0.709009 9.07775 0.529852 7.9888C0.350695 6.89985 0.522991 5.78214 1.02176 4.79769C1.40604 4.05176 1.96031 3.40662 2.63985 2.91435C3.31938 2.42208 4.10513 2.09647 4.93368 1.9638C5.76223 1.83114 6.61036 1.89514 7.40962 2.15063C8.20888 2.40612 8.93688 2.84595 9.53485 3.43461L11.0015 4.77203L12.4682 3.43461C13.0662 2.84613 13.7942 2.40647 14.5935 2.15109C15.3927 1.89571 16.2408 1.83177 17.0692 1.96443C17.8977 2.09708 18.6834 2.42261 19.363 2.91477C20.0425 3.40692 20.5968 4.05191 20.9813 4.79769C21.4798 5.78221 21.6519 6.89985 21.4727 7.98873C21.2936 9.07761 20.7725 10.0812 19.9848 10.8541L11.0015 20.1051Z"
                                    stroke="#C72457"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </g>
                                <defs>
                                  <clipPath id="clip0_1002_6123">
                                    <rect width="22" height="22" fill="white" />
                                  </clipPath>
                                </defs>
                              </svg>
                              <span>Love</span>
                            </div>
                            <div class="progress-grid">
                              {% for i in (1..6) %}
                                <div class="meter">
                                  <span style="--progress-width:0%"></span>
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                          <div class="white-box top-border">
                            <div class="icon-text">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="22"
                                height="22"
                                viewBox="0 0 22 22"
                                fill="none"
                              >
                                <g clip-path="url(#clip0_1002_6112)">
                                  <path
                                    d="M12.6653 19.0682H13.8103C14.549 19.0683 15.2763 18.8858 15.9275 18.537C16.5787 18.1881 17.1337 17.6838 17.5429 17.0688L20.7492 12.2593C20.9789 11.9145 21.071 11.496 21.0075 11.0865C20.944 10.6772 20.7293 10.3064 20.4058 10.0473C20.1078 9.80888 19.7365 9.68073 19.3548 9.68449C18.9732 9.68825 18.6045 9.82373 18.3113 10.0679L16.6579 11.447V4.27399C16.6579 3.91729 16.5162 3.5752 16.264 3.32298C16.0117 3.07075 15.6696 2.92905 15.313 2.92905C14.9563 2.92905 14.6142 3.07075 14.3619 3.32298C14.1098 3.5752 13.968 3.91729 13.968 4.27399V2.03243C13.968 1.67573 13.8263 1.33365 13.5741 1.08142C13.3219 0.829198 12.9798 0.6875 12.6231 0.6875C12.2664 0.6875 11.9243 0.829198 11.6721 1.08142C11.4199 1.33365 11.2782 1.67573 11.2782 2.03243V3.37737C11.2782 3.02067 11.1365 2.67858 10.8843 2.42635C10.632 2.17413 10.2899 2.03243 9.93324 2.03243C9.57656 2.03243 9.23446 2.17413 8.98222 2.42635C8.73 2.67858 8.5883 3.02067 8.5883 3.37737V6.06723C8.5883 5.71054 8.44661 5.36845 8.19438 5.11622C7.94216 4.864 7.60007 4.7223 7.24337 4.7223C6.88668 4.7223 6.54459 4.864 6.29236 5.11622C6.04014 5.36845 5.89844 5.71054 5.89844 6.06723V8.3088"
                                    stroke="#C72457"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M8.58984 6.06445V8.30601"
                                    stroke="#C72457"
                                    stroke-width="0.916667"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M11.2812 3.375V8.75473"
                                    stroke="#C72457"
                                    stroke-width="0.916667"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M13.9688 3.375V8.75473"
                                    stroke="#C72457"
                                    stroke-width="0.916667"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M6.80469 13.1738V15.4154"
                                    stroke="#C72457"
                                    stroke-width="0.916667"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M6.81009 17.4775C6.68629 17.4775 6.58594 17.3773 6.58594 17.2534C6.58594 17.1297 6.68629 17.0293 6.81009 17.0293"
                                    stroke="#C72457"
                                    stroke-width="0.916667"
                                  />
                                  <path
                                    d="M6.80859 17.4775C6.93239 17.4775 7.03275 17.3773 7.03275 17.2534C7.03275 17.1297 6.93239 17.0293 6.80859 17.0293"
                                    stroke="#C72457"
                                    stroke-width="0.916667"
                                  />
                                  <path
                                    d="M8.40476 11.7337L10.9691 11.4109L10.5871 13.9663L12.6287 15.5515L10.5513 17.0892L10.874 19.6527L8.31869 19.2716L6.73346 21.3123L5.19575 19.2358L2.63231 19.5585L3.01337 17.0022L0.972656 15.418L3.04924 13.8802L2.72645 11.3159L5.28272 11.6979L6.86705 9.65625L8.40476 11.7337Z"
                                    stroke="#C72457"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </g>
                                <defs>
                                  <clipPath id="clip0_1002_6112">
                                    <rect width="22" height="22" fill="white" />
                                  </clipPath>
                                </defs>
                              </svg>
                              <span>Limits</span>
                            </div>
                            <div class="progress-grid">
                              {% for i in (1..6) %}
                                <div class="meter">
                                  <span style="--progress-width:0%"></span>
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      {%- endif -%}

                      {%- if isCoursePurchased == true -%}
                        <div class="progress-details">
                          {%- if previoustStepContent != blank -%}
                            {%- assign progress_summary = previoustStepContent.progress_summary -%}
                            <div class="course-link">
                              <div class="link-icon">
                                <p>{{ block.settings.ltl_heading }}</p>
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="18"
                                  height="18"
                                  viewBox="0 0 18 18"
                                  fill="none"
                                >
                                  <rect width="18" height="18" rx="9" fill="#C9D9D3" />
                                  <path
                                    d="M12.912 5.73828L8.75115 11.3861C8.69879 11.4574 8.63247 11.5173 8.55623 11.5621C8.47999 11.607 8.39542 11.6358 8.30768 11.647C8.22113 11.658 8.13325 11.6516 8.04923 11.6281C7.96521 11.6046 7.88677 11.5644 7.81855 11.51L5.08594 9.32524"
                                    stroke="#01333E"
                                    stroke-width="0.802083"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M9 16.5C13.1421 16.5 16.5 13.1421 16.5 9C16.5 4.85786 13.1421 1.5 9 1.5C4.85786 1.5 1.5 4.85786 1.5 9C1.5 13.1421 4.85786 16.5 9 16.5Z"
                                    stroke="#01333E"
                                    stroke-width="0.802083"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </svg>
                              </div>
                              <div class="link-text">
                                <p class="text-bg">
                                  {{ progress_summary.title }}
                                </p>
                                <p>{{ progress_summary.description }}</p>
                              </div>
                            </div>
                          {%- endif -%}
                          {%- if nextStepContent != blank -%}
                            {%- assign progress_summary = nextStepContent.progress_summary -%}
                            <div class="course-link">
                              <div class="link-icon">
                                <p>{{ block.settings.ntl_heading }}</p>
                                {% render 'icon-red-forword' %}
                              </div>
                              <div class="link-text">
                                <p class="text-bg">
                                  {{ progress_summary.title }}
                                </p>
                                <p>{{ progress_summary.description }}</p>
                              </div>
                            </div>
                          {%- endif -%}

                        </div>
                      {%- else -%}
                        <div class="progress-details">
                          <div class="course-link">
                            <div class="link-icon">
                              <p>{{ block.settings.ltl_heading }}</p>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="18"
                                height="18"
                                viewBox="0 0 18 18"
                                fill="none"
                              >
                                <rect width="18" height="18" rx="9" fill="#C9D9D3" />
                                <path
                                  d="M12.912 5.73828L8.75115 11.3861C8.69879 11.4574 8.63247 11.5173 8.55623 11.5621C8.47999 11.607 8.39542 11.6358 8.30768 11.647C8.22113 11.658 8.13325 11.6516 8.04923 11.6281C7.96521 11.6046 7.88677 11.5644 7.81855 11.51L5.08594 9.32524"
                                  stroke="#01333E"
                                  stroke-width="0.802083"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                                <path
                                  d="M9 16.5C13.1421 16.5 16.5 13.1421 16.5 9C16.5 4.85786 13.1421 1.5 9 1.5C4.85786 1.5 1.5 4.85786 1.5 9C1.5 13.1421 4.85786 16.5 9 16.5Z"
                                  stroke="#01333E"
                                  stroke-width="0.802083"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </div>
                            <div class="link-text">
                              <p class="text-bg">
                                {%- assign text = block.settings.ltl_title | replace_first: ' ', '|' | split: '|' -%}
                                <span>{{ text | first }}</span>&nbsp;{{ text | last }}
                              </p>
                              {{ block.settings.ltl_description }}
                            </div>
                          </div>
                          <div class="course-link">
                            <div class="link-icon">
                              <p>{{ block.settings.ntl_heading }}</p>
                              {% render 'icon-red-forword' %}
                            </div>
                            <div class="link-text">
                              <p class="text-bg">
                                {%- assign ntltext = block.settings.ntl_title | replace_first: ' ', '|' | split: '|' -%}
                                <span>{{ ntltext | first }}</span>&nbsp;{{ ntltext | last }}
                              </p>
                              {{ block.settings.ntl_description }}
                            </div>
                          </div>
                        </div>
                      {%- endif -%}
                    </div>
                    
                    {%- assign buttonTitle = block.settings.np_btn_title -%}
                    {%- assign buttonUrl = settings.course_product.url -%}
                    {%- if isCoursePurchased == true -%}
                      {%- assign buttonTitle = block.settings.btn_title -%}
                      {%- assign buttonUrl = block.settings.button_url -%}
                    {%- endif -%}
                    {%- if buttonTitle != blank and buttonUrl != blank -%}
                      <div class="course-btn">
                        <a class="button button--secondary" href="{{ buttonUrl }}">
                          {{ buttonTitle }}
                          <svg
                            aria-hidden="true"
                            class="icon icon-arrow"
                            focusable="false"
                            viewBox="0 0 21 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M10.5561 0.385992C10.217 0.0873893 9.69997 0.12026 9.40136 0.45941C9.10276 0.79856 9.13563 1.31556 9.47478 1.61416L18.0699 9.18165H1.4217C0.969828 9.18165 0.603516 9.54796 0.603516 9.99983C0.603516 10.4517 0.969828 10.818 1.4217 10.818H18.0721L9.47484 18.386C9.13566 18.6845 9.10274 19.2015 9.40131 19.5407C9.69988 19.8799 10.2169 19.9128 10.5561 19.6142L20.0822 11.2287L20.0827 11.2282C20.2568 11.0746 20.3963 10.8858 20.4918 10.6742C20.5805 10.4777 20.6294 10.2658 20.636 10.0507C20.637 10.0339 20.6375 10.0169 20.6375 9.99983C20.6375 9.98206 20.637 9.96441 20.6358 9.94692C20.6288 9.73324 20.5799 9.52282 20.4918 9.32764C20.3963 9.11604 20.2568 8.92719 20.0827 8.77363L20.0822 8.77318L10.5561 0.385992Z"
                              fill="currentColor"
                            ></path>
                          </svg>
                        </a>
                      </div>
                    {%- endif -%}
                  </div>
                {%- when "family_star_result" -%}
                  {%- assign animationCount = animationCount | plus: 1 -%}
                  <div class="family-block scroll-trigger animate--slide-in" style="--animation-order: {{ animationCount }};" {{ block.shopify_attributes }}>
                    {%- assign title = block.settings.np_title -%}
                    {%- if isCoursePurchased -%}
                      {%- assign title = block.settings.title -%}
                    {%- endif -%}
                    {%- if title != blank -%}
                      <div class="family-title">
                        <h5>{{ title }}</h5>
                      </div>
                    {%- endif -%}
                    {%- if isCoursePurchased -%}
                      <div class="family-graph">
                        <img
                          src="https://cdn.shopify.com/s/files/1/0730/5868/1130/files/graph.png?v=1691754879"
                          alt=""
                          srcset=""
                        >
                      </div>
                    {%- else -%}
                      <div class="family-graph course-not-purchased-description">
                        {{ block.settings.description }}
                      </div>
                    {%- endif -%}
                    {%- assign buttonTitle = block.settings.np_btn_title -%}
                    {%- assign buttonUrl = settings.course_product.url -%}
                    {%- if isCoursePurchased == true -%}
                      {%- assign buttonTitle = block.settings.btn_title -%}
                      {%- assign buttonUrl = block.settings.button_url -%}
                    {%- endif -%}
                    {%- if buttonTitle != blank and buttonUrl != blank -%}
                      <div class="course-btn">
                        <a class="button button--secondary" href="{{ buttonUrl }}">
                          {{ buttonTitle }}
                          <svg
                            aria-hidden="true"
                            class="icon icon-arrow"
                            focusable="false"
                            viewBox="0 0 21 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M10.5561 0.385992C10.217 0.0873893 9.69997 0.12026 9.40136 0.45941C9.10276 0.79856 9.13563 1.31556 9.47478 1.61416L18.0699 9.18165H1.4217C0.969828 9.18165 0.603516 9.54796 0.603516 9.99983C0.603516 10.4517 0.969828 10.818 1.4217 10.818H18.0721L9.47484 18.386C9.13566 18.6845 9.10274 19.2015 9.40131 19.5407C9.69988 19.8799 10.2169 19.9128 10.5561 19.6142L20.0822 11.2287L20.0827 11.2282C20.2568 11.0746 20.3963 10.8858 20.4918 10.6742C20.5805 10.4777 20.6294 10.2658 20.636 10.0507C20.637 10.0339 20.6375 10.0169 20.6375 9.99983C20.6375 9.98206 20.637 9.96441 20.6358 9.94692C20.6288 9.73324 20.5799 9.52282 20.4918 9.32764C20.3963 9.11604 20.2568 8.92719 20.0827 8.77363L20.0822 8.77318L10.5561 0.385992Z"
                              fill="currentColor"
                            ></path>
                          </svg>
                        </a>
                      </div>
                    {%- endif -%}
                  </div>
              {%- endcase -%}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Dashboard Overview",
  "settings": [
    {
      "type": "header",
      "content": "My goal Content"
    },
    {
      "type": "header",
      "content": "Left"
    },
    {
      "type": "image_picker",
      "id": "left_icon",
      "label": "Icon"
    },
    {
      "type": "color",
      "id": "left_icon_back_color",
      "label": "Icon Background Color",
      "default": "#F7C083"
    },
    {
      "type": "richtext",
      "id": "left_description",
      "label": "Description",
      "info": "If Course has been Purchased. And [dynamic_text] will automatically replace with user content."
    },
    {
      "type": "richtext",
      "id": "left_np_description",
      "label": "Description",
      "info": "if Course hasn't been Purchased."
    },
    {
      "type": "header",
      "content": "Right"
    },
    {
      "type": "image_picker",
      "id": "right_icon",
      "label": "Icon"
    },
    {
      "type": "color",
      "id": "right_icon_back_color",
      "label": "Icon Background Color",
      "default": "#1C8DA6"
    },
    {
      "type": "richtext",
      "id": "right_description",
      "label": "Description",
      "info": "If Course has been Purchased. And [dynamic_text] will automatically replace with user content."
    },
    {
      "type": "richtext",
      "id": "right_np_description",
      "label": "Description",
      "info": "if Course hasn't been Purchased."
    }
  ],
  "blocks": [
    {
      "type": "course_progress",
      "name": "Course Progress",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Section Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Text",
          "default": "Course progress",
          "info": "If Course has been Purchased."
        },
        {
          "type": "text",
          "id": "np_title",
          "label": "Text",
          "default": "Course progress",
          "info": "if Course hasn't been Purchased."
        },
        {
          "type": "header",
          "content": "Last time learn section"
        },
        {
          "type": "text",
          "id": "ltl_heading",
          "label": "Heading",
          "default": "Last time you learn"
        },
        {
          "type": "inline_richtext",
          "id": "ltl_title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "ltl_description",
          "label": "Description"
        },
        {
          "type": "paragraph",
          "content": "NOTE: These Title and Description will show when user haven't purchased course."
        },
        {
          "type": "header",
          "content": "Next time learn section"
        },
        {
          "type": "text",
          "id": "ntl_heading",
          "label": "Heading",
          "default": "Last time you learn"
        },
        {
          "type": "inline_richtext",
          "id": "ntl_title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "ntl_description",
          "label": "Description"
        },
        {
          "type": "paragraph",
          "content": "NOTE: These Title and Description will show when user haven't purchased course."
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_title",
          "label": "Text",
          "default": "Go to course",
          "info": "If Course has been Purchased."
        },
        {
          "type": "text",
          "id": "np_btn_title",
          "label": "Text",
          "default": "Buy the Course",
          "info": "if Course hasn't been Purchased."
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button link",
          "info":"This Link will add when user will Purchase course."
        }
      ]
    },
    {
      "type": "family_star_result",
      "name": "Family Star result",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Section Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Text",
          "default": "Family star results",
          "info": "If Course has been Purchased."
        },
        {
          "type": "text",
          "id": "np_title",
          "label": "Text",
          "default": "Join our Community",
          "info": "if Course hasn't been Purchased."
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "paragraph",
          "content": "NOTE: Description will show when user has been purchased course."
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_title",
          "label": "Text",
          "default": "Read more",
          "info": "If Course has been Purchased."
        },
        {
          "type": "text",
          "id": "np_btn_title",
          "label": "Text",
          "default": "Join now",
          "info": "if Course hasn't been Purchased."
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button link",
          "info":"This Link will add when user will Purchase course."
        }
      ]
    }
  ]
}
{% endschema %}
