{{ 'ddp-post-link.css' | asset_url | stylesheet_tag }}
{%- assign currentTag = current_tags | first | handleize -%}
<section class="ddp-list-block">
  <div class="page-width">

    <div class="blog-filter">
      <p>Filter:</p>
      <div class="filter-link">
        <ul>
          <li>
            <a href="{{ blog.url }}" data-tag="all" class="{% if currentTag == "" %}active{% endif %} js_tag_select">View All</a>
          </li>
          {% for tag in blog.all_tags %}
            <li>
              {%- assign tagHandlize = tag | handleize -%}
                <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="{% if currentTag == tagHandlize %}active{% endif %} js_tag_select" data-tag="{{- tag -}}">{{ tag }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
    <div class="ddp-post-list">
      {% for article in blog.articles %}
        <div class="ddp-box">
          <div class="ddp-post-img">
            <a href="{{ article.url }}" class="full-unstyled-link">
              <img
                srcset="
                  {%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                  {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {{ article.image.src | image_url }} {{ article.image.src.width }}w
                "
                src="{{ article.image.src | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                alt="{{ article.image.src.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
              >              
            </a>
          </div>
        
          <div class="ddp-post-details">
            {%- for tag in article.tags -%}
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="tag ddp_label">{{ tag }}</a>
            {%- endfor -%}
              <h3><a href="{{ article.url }}" class="full-unstyled-link">
                {{ article.title }}
              </a></h3>  
              <p class="article-card__excerpt rte-width">
              {%- if article.excerpt.size > 0 -%}
                {{ article.excerpt | strip_html | truncatewords: 30 }}
              {%- else -%}
                {{ article.content | strip_html | truncatewords: 30 }}
              {%- endif -%}
              </p>
            {% comment %} <p>{{ blog.rich_text | metafield_tag }}</p> {% endcomment %}

            <div class="ddp-button">
              <a
                href="{{ article.url }}"
                class="button {% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
              >
                Read more
                {% render 'icon-arrow' %}
              </a>
            </div>
            
            {% comment %}
              <a class="button" href="">Read more
                  <svg aria-hidden="true" class="icon icon-arrow" focusable="false" viewBox="0 0 21 20"
                      fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M10.5561 0.385992C10.217 0.0873893 9.69997 0.12026 9.40136 0.45941C9.10276 0.79856 9.13563 1.31556 9.47478 1.61416L18.0699 9.18165H1.4217C0.969828 9.18165 0.603516 9.54796 0.603516 9.99983C0.603516 10.4517 0.969828 10.818 1.4217 10.818H18.0721L9.47484 18.386C9.13566 18.6845 9.10274 19.2015 9.40131 19.5407C9.69988 19.8799 10.2169 19.9128 10.5561 19.6142L20.0822 11.2287L20.0827 11.2282C20.2568 11.0746 20.3963 10.8858 20.4918 10.6742C20.5805 10.4777 20.6294 10.2658 20.636 10.0507C20.637 10.0339 20.6375 10.0169 20.6375 9.99983C20.6375 9.98206 20.637 9.96441 20.6358 9.94692C20.6288 9.73324 20.5799 9.52282 20.4918 9.32764C20.3963 9.11604 20.2568 8.92719 20.0827 8.77363L20.0822 8.77318L10.5561 0.385992Z"
                          fill="currentColor">
                      </path>
                  </svg>
              </a>
            {% endcomment %}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "DDP post list",
  "settings": [
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Read more"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
    
  ],
  "presets": [
    {
      "name": "DDP post list"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
