{{ 'email-sign-up-section.css' | asset_url | stylesheet_tag }}
{{ 'join-card-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% unless customer %}

  <div class="join_card_section    section-{{ section.id }}-padding ">
    <div class="{% unless section.settings.full_width %} page-width {% endunless %}">
      <div class="email_news color-{{ section.settings.color_scheme }} gradient">
        <div class="join_card_list">

            {% if section.settings.heading_text != blank %}
                <div class="joining_heading">
                  <div class="join_info">
                    <h2>{{ section.settings.heading_text }}</h2>
                    <p>{{ section.settings.small_text }}</p>
                    {% if section.settings.button_url != blank or section.settings.button_text != blank %}
                      <div class="join_button {% unless section.settings.join_inner_remove %} join_inner-add {% endunless %}">
                        <a
                          class="button"
                          href="{{ section.settings.button_url }}"
                        >
                          {{- section.settings.button_text -}}
      
                          {% render 'icon-arrow' %}
                        </a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
         
              <div class="join_benefits">
                {% for block in section.blocks %}
                  <div class="join_benefit_list block-{{ block.id }}" {{ block.shopify_attributes }}>
                    {% if block.settings.icon != blank %}
                      <img
                        src="{{ block.settings.icon | img_url: 'master' }}"
                        alt="{{ block.settings.icon.alt }}"
                        width="{{ block.settings.icon.width }}"
                        height="{{ block.settings.icon.height }}"
                      >
                    {% endif %}
                    {% if block.settings.heading != blank %}
                      <p class="p1">{{ block.settings.heading }}</p>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>       
        </div>
      </div>
    </div>
  </div>
{% endunless %}



{% schema %}
  {
    "name": "Custom Join Card Section",
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Show content make a full width",
        "default": false
      },
      {
        "type": "textarea",
        "id": "heading_text",
        "label": "Heading text",
        "default": "Heading Text"
      },
      {
        "type": "richtext",
        "id": "small_text",
        "label": "Small text"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text",
        "default": "Button"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button url"
      },
      {
        "type": "header",
        "content": "Section Background"
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "scheme_1",
        "label": "Color scheme"
      }, {
        "type": "header",
        "content": "Section spacing"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 160,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 80
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 160,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 80
      }
      
    ],
    "blocks": [
        {
          "name": "text",
          "type": "text",
          "settings": [
            {
              "type": "image_picker",
              "id": "icon",
              "label": "Icon"
            },
            {
              "type": "text",
              "id": "heading",
              "label": "Checklist",
              "default": "List Text"
            }
          ]
        }
      ],
    "presets": [
      {
        "name": "Custom Join Card Section"
      }
    ]
  }
{% endschema %}